@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(53, 100, 145);
  --secondary-color: rgb(76, 100, 255);
  --accent-color: rgb(30, 37, 81);
  --gray-color: rgb(123, 124, 129);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(16, 16, 16);
}

body {
  font-family: "Roboto", sans-serif;
}

/* Typography */

h1,
h2,
h3 {
  color: var(--accent-color);
  margin-bottom: 0.8rem;
}

p {
  color: var(--white-color);
}

/* Layout */

section {
  background-color: var(--primary-color);
  padding: 2rem;
  margin: 2rem 0;
}

@media only screen and (min-width: 680px) {
  section {
    padding: 4rem;
  }
}
/* Grades*/
#wellDone {
  margin-left: 1rem;
}
#grades li {
  margin: 1rem;
}
#grades p {
  margin-top: 1rem;
}
#gradingTitle {
  cursor: pointer;
  font-size: large;
}
#gradingTitle:hover {
  color: var(--secondary-color);
}
#grades {
  display: none;
  color: var(--black-color);
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}
#grades.active {
  display: block;
}
#grading-support {
  border-radius: 6px;
}
