@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(53, 100, 145);
  --secondary-color: rgb(76, 100, 255);
  --accent-color: rgb(30, 37, 81);
  --gray-color: rgb(123, 124, 129);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(16, 16, 16);
}

body {
  font-family: "Roboto", sans-serif;
}

/* Typography */

h1,
h2,
h3 {
  color: var(--accent-color);
  margin-bottom: 0.8rem;
}

p {
  color: var(--white-color);
}

/* Layout */

section {
  background-color: var(--primary-color);
  padding: 2rem;
  margin: 2rem 0;
}

/* lärendemål layout -yanna */

#learning-goals {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

/* heading style */

.slide, .heading{
  background: #f9f9f9;
  
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  padding: 2rem;
  margin-bottom: 1rem;
}

/* have to specify cause i choose white background and the default p color is white too */
.heading p{
  color: var(--black-color);
}
.slide ol {
  padding-left: 1.5rem;
}

.slide li {
  margin-bottom: 0.75rem;
  line-height: 1.6;
}

button {
  padding: 15px 20px;         
  margin: 10px 5px;                
  font-size: 1rem;             
  font-weight: bold;          
  color: var(--white-color);                
  background-color: var(--accent-color);   
  border: none;
  border-radius: 8px;         
  cursor: pointer;             
  transition: all 0.3s ease;  

}

button:hover {
  background-color: var(--secondary-color);   
  transform: translateY(-2px); 
  box-shadow: 0 6px 8px rgba(0,0,0,0.15); 
}

@media only screen and (min-width: 680px) {
  section {
    padding: 4rem;
  }
}
