@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(53, 100, 145);
  --secondary-color: rgb(76, 100, 255);
  --accent-color: rgb(30, 37, 81);
  --gray-color: rgb(123, 124, 129);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(16, 16, 16);
  --background-color: #f9f9f9;
}
:root.dark-mode {
  background-color: black;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Typography */

h1,
h2,
h3 {
  color: var(--accent-color);
  margin-bottom: 0.8rem;
}

p {
  color: var(--white-color);
}

/* Layout */

section {
  /* background-color: var(--primary-color); */
  padding: 2rem;
  margin: 2rem 0;
  scroll-margin-top: 20px;
}

/* Navbar */

nav {
  flex-direction: column;
  background-color: var(--accent-color);
  padding: 1rem;
  justify-content: center;
}

nav ul {
  padding-top: 0.5rem;
  list-style-type: none;
}
nav li {
  padding: 0.5rem 0;
}

nav a {
  text-decoration: none;
  color: var(--white-color);
}

/* Kunskapskontroll */

#knowledge-check h1 {
  text-align: center;
  padding-top: 1rem;
}
#knowledge-check {
  background-color: var(--background-color);
  border-radius: 10px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.kunskap-cont {
  display: flex;
  padding: 1rem;
}
#kunskap-summativ > *,
#kunskap-formativ > * {
  padding: 1rem;
  color: var(--black-color);
}
#kunskap-summativ ul,
#kunskap-formativ ul {
  margin-left: 20px;
}
#kunskap-summativ li,
#kunskap-formativ li {
  margin-bottom: 5px;
}
#kunskap-summativ,
#kunskap-formativ {
  transition: opacity 1s ease;
  overflow: hidden;
}

.kunskap-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.k-btn {
  padding: 15px 20px;
  margin: 10px 5px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.k-active {
  background-color: var(--secondary-color);
}
.k-hidden {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
/* lärendemål layout -yanna */

#learning-goals {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
  scroll-margin-top: 100px;
}

/* heading style */

.slides-container {
  background: var(--background-color);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  padding: 2rem;
  margin-bottom: 1rem;
}

/* have to specify cause i choose white background and the default p color is white too */
.slides-container p {
  color: var(--black-color);
}
.slide ol {
  padding-left: 1.5rem;
}

.slide li {
  margin-bottom: 0.75rem;
  line-height: 1.6;
}
.heading {
  text-align: center;
}

.slide {
  background: linear-gradient(50deg, var(--gray-color), var(--secondary-color));
  /* background: var(--secondary-color); */
  border-radius: 10px;
  padding: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
button {
  padding: 15px 20px;
  margin: 10px 5px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* will be highlighed when clicked and opened */
button:hover,
button:focus {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Grades*/
#wellDone {
  margin-left: 1rem;
}
#grades li {
  margin: 1rem;
}
#grades p {
  margin-top: 1rem;
  color: var(--black-color);
}
#gradingTitle {
  cursor: pointer;
  font-size: large;
  transition: color 0.3s ease;
}
#gradingTitle:hover {
  color: var(--secondary-color);
}
#gradingTitle.active {
  color: var(--secondary-color);
}
#grades {
  /* display: none; */
  max-height: 0px;
  opacity: 0;
  color: var(--accent-color);
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}
#grades.active {
  max-height: 50vh;
  position: static;
  opacity: 1;
}
#grading {
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 1rem;
  box-shadow: 2px 2px;
}
/* Support*/
#grading-support {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#supports li {
  margin: 1rem;
}
#supports p {
  margin-top: 1rem;
  color: var(--accent-color);
}
#supportTitle {
  cursor: pointer;
  font-size: large;
  transition: color 0.5s ease;
}
#supportTitle:hover {
  color: var(--secondary-color);
}
#supportTitle.active {
  color: var(--secondary-color);
}
#supports {
  max-height: 0;
  opacity: 0;
  color: var(--black-color);
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.5s ease;
}
#supports.active {
  max-height: 50vh;
  opacity: 1;
  display: block;
}

#support {
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: 2px 2px;
}

/* Footer */

footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1.5rem;
  text-align: left;
  line-height: 1.6;
  font-size: 0.95rem;
}

footer p {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

footer .line {
  font-weight: 800;
  color: var(--black-color);
}

footer .created-by {
  text-align: center;
}

footer .created-by p {
  margin-bottom: 1.4rem;
}

footer .text-bold {
  font-weight: 400;
}

footer .portrait-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

footer .portrait {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 10%;
}

#bjorn {
  overflow: hidden;
  background: url("/assets/images/bjorn-boman.jpg") center;
  background-clip: content-box;
  background-size: 4.5rem;
  background-repeat: repeat-y;
}

.divider {
  width: 80%;
  margin: 1.5rem auto;
  border: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
}

/* Hero section (in header) */

#hero {
  margin: 0;
  padding: 0;
  background-image: url("assets/hero-small.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}
#hero img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
}

#darkMode {
  width: 1rem;
  color: var(--black-color);
  background-color: var(--white-color);
}

#darkModeButtonDiv {
  display: flex;
  justify-content: end;
}

/* Media queries */

@media only screen and (min-width: 680px) {
  section {
    padding: 4rem;
  }

  nav {
    display: flex;
    padding: 1rem 2rem;
    justify-content: flex-end;
  }
  nav ul {
    flex-direction: row;
    display: flex;
    list-style: none;
  }
  nav li {
    padding-left: 1rem;
  }

  #hero {
    background-image: url(assets/hero.png);
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 3rem;
    margin: 0 auto;
  }

  footer h3 {
    font-size: 1.6rem;
  }

  footer .footer-info {
    text-align: center;
  }

  footer .portrait {
    width: 5rem;
    height: 5rem;
    margin: 0 1rem;
    border: 5px solid var(--gray-color);
    transition: transform 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
  }

  footer .portrait:hover {
    transform: scale(1.05);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }
}
@media only screen and (min-width: 900px) {
  #grading {
    width: 800px;
    background-color: var(--background-color);
  }
  #support {
    width: 800px;
    background-color: var(--background-color);
  }
  #grading-support {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
